{{define "navbar"}}
    <div class="navbar">
        <div class="logo">
            <div>
                <img src="logo.png" alt="Logo">
            </div>
            <div>
                <b>Open Chat</b><br>
                Anonymous Free Speech Chat
            </div>
        </div>
        <div class="toggle">
            <label for="category">Category:</label>
            <select id="category">
                <option>All</option>
            </select>
        </div>
    </div>
{{end}}